<div class="grid">
  <article>
    <h2>Verify your phone number</h2>
    <fieldset role="group">
      <%= text_field_tag :otp, nil, placeholder: "069420" %>
      <%= submit_tag "verify" %>
    </fieldset>
  </article>
</div>